.main-investment-stocks > div{
    width: 960px;
    margin: 60px auto;
}

.main-investment-stocks .demo-img{
    padding: 0;
    border: 2px solid whitesmoke;
    border-radius: 6px;
}

.main-investment-stocks h1{
    font-family: 'Microsoft JhengHei';
}

.main-investment-stocks .content-block{
    padding-top: 15px;
}

/* table */
.main-investment-stocks table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: 1px solid silver;
    margin-bottom: 20px;
}

.main-investment-stocks th {
    padding: 8px;
    color: white;
    border: 1px solid silver;
    background: #535353;
    text-align: center;
    /*word-break: break-all;*/
    font-size: medium;
}

.main-investment-stocks td{
    font-size: large;
    border: none;
    padding-right: 10px;
    text-align: right;
}

.main-investment-stocks .tr-stock.main:hover{
    background-color: rgb(224,240,255);
    cursor: pointer;
}

.main-investment-stocks .tr-scan.main:hover{
    background-color: lavenderblush;
    cursor: pointer;
}

.main-investment-stocks .group-td{
    padding-right: 0px;
}

.main-investment-stocks .th-symbol{
    width: 90px;
}

.main-investment-stocks .th-price{
    width: 90px;
}

.main-investment-stocks .th-change{
    width: 90px;
}

.main-investment-stocks .th-52w{
    width: 140px;
}

.main-investment-stocks .th-risk{
    width: 120px;
}

.main-investment-stocks .td-symbol, .main-investment-stocks .td-type-name{
    padding-right: 0px;
    text-align: center;
    font-weight: 700;
    color: #188fff;
}

.main-investment-stocks .bomb-image {
    height: 36px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.main-investment-stocks .stock-detail{
    margin: 0px 40px;
}

.main-investment-stocks .stock-statistics{
    padding-top:10px;
    display: grid;
    grid-template-columns: 125px 20px 125px 20px 125px 20px 125px 20px 125px 20px 125px 20px;
    align-items: center;
}

.main-investment-stocks .base-data{
    border-bottom: 1px solid #bbb;
    position: relative;
    margin-bottom: 20px;
    bottom: 0;
}

.main-investment-stocks .base-data-key{
    left: 0px;
    position: absolute;
    bottom: 0;
}

.main-investment-stocks .base-data-value{
    right: 0px;
}

.main-investment-stocks .news-block{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 128px;
    gap: 30px;
    margin: 10px 0;
}

.main-investment-stocks .news-img{
    max-width: 220px;
    max-height: 125px;
    width: 220px;
    height: 125px;
    text-align: center;
}

.main-investment-stocks .news-src{
    text-align: left;
    font-size: 13px;
    color: gray;
}

.main-investment-stocks .news-content{
    overflow: hidden;
}

.main-investment-stocks .news-title{
    text-align: left;
    line-height: 22px;
    font-size: 20px;
    padding: 5px 0px 9px 0px;
}

.main-investment-stocks .news-title:hover{
    color: #0078ff;
}

.main-investment-stocks .news-description{
    text-align: left;
    line-height: 19px;
    font-size: 16px;
    overflow: hidden;
}

.main-investment-stocks .scan-list{
    margin-bottom: 20px;
}

.main-investment-stocks .scan-output{
    margin: 10px;
    min-height: 100px;
    border: 3px double;
    border-color: deepskyblue;
    white-space: pre-line;
    padding: 5px 10px;
    line-height: 30px;
    text-align: left;
}

.main-investment-stocks .data-source{
    font-size: x-large;
}

.main-investment-stocks .link{
    padding-right: 30px;
}

.main-investment-stocks .sub-table-title{
    display: inline-flex;
    font-size: 20px;
} 

/* sec table */
.main-investment-stocks .td-symbol, .main-investment-stocks .td-filings{
    padding-right: 0px;
    text-align: center;
}

.main-investment-stocks .th-date{
    width: 120px;
}

.main-investment-stocks .tr-indicator.main{
    height: 52px;
}

#hold-stocks-sec-table{
    width: 460px;
}

.main-investment-stocks .tr-sec.main{
    height: 36px;
}

#star-stocks-sec-table{
    width: 460px;
}

#screener-stocks-sec-table{
    width: 460px;
}

.main-investment-stocks .tr-sec.main:hover, .main-investment-stocks .tr-indicator.main:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.main-investment-stocks .sec-title{
    margin: 5px 20px 10px 0px;
}

.main-investment-stocks .sec-checkbox{
    vertical-align: bottom;
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
}


/* earnings date table */
.main-investment-stocks .td-earnings-date-symbol, .main-investment-stocks .td-earnings-date-symbol, .main-investment-stocks .td-earnings-date-similar{
    padding-right: 0px;
    text-align: center;
}

.main-investment-stocks .th-earnings-date-date{
    width: 240px;
}

.main-investment-stocks .tr-earnings-date.main{
    height: 36px;
}

#hold-stocks-earnings-date-table{
    width: 580px;
}

.main-investment-stocks .tr-earnings-date.main:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.main-investment-stocks .earnings-date-title{
    margin: 5px 20px 10px 0px;
}

.main-investment-stocks .earnings-date-checkbox{
    vertical-align: bottom;
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
}

/* others */
.main-investment-stocks .span-12px{
    font-size: 12px;
}

