fieldset.formula-block {
    border: 2px groove #ddd;
    padding: 0 20px 20px 20px;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.formula-block {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
    font-size: 28px;
}

fieldset.arg-input{
    border: 2px groove lightgreen;
    border-radius: 4px;
    padding: 0 10px 10px 10px;
}

legend.arg-input{
    font-size: 20px;
}


.main-investment-formula h1{
    font-family: 'Microsoft JhengHei';
}

.main-investment-formula > div{
    width: 960px;
    margin: 60px auto;
}

.main-investment-formula .demo-img{
    padding: 0;
    border: 2px solid whitesmoke;
    border-radius: 6px;
}

.main-investment-formula h1{
    font-family: 'Microsoft JhengHei';
}

.main-investment-formula .content-block{
    padding-top: 15px;
}

.main-investment-formula .formula-component{
    position: relative;
    margin-top: 50px;
}

#kelly-formula-val{
    font-size: 21px;
}

.main-investment-formula .kelly-formula-input-block1{
    display: grid;
    grid-template-columns: 80px 10px 80px 60px 80px 10px 80px 60px 80px 10px 80px auto 140px 0px;
    align-items: center;
    font-size: 18px;
    margin: 20px;
    text-align: right;
}

.main-investment-formula .kelly-formula-input-block2{
    display: grid;
    grid-template-columns: 80px 10px 80px 60px 80px 10px 80px auto 140px 0px;
    align-items: center;
    font-size: 18px;
    margin: 20px;
    text-align: right;
}

#beneish-formula-val{
    font-size: 21px;
    padding: 20px 0px 5px 0px;
}

.main-investment-formula .beneish-formula-input-block1{
    display: grid;
    grid-template-columns: repeat(4, 80px 10px 120px 0px);
    align-items: center;
    font-size: 18px;
    margin: 20px 25px;
    text-align: right;
    gap: 20px 0px;
}

.main-investment-formula .beneish-formula-input-block1-1{
    display: grid;
    grid-template-columns: auto 140px 0px;
    align-items: center;
    font-size: 18px;
    margin: 20px;
    text-align: right;
}

.main-investment-formula .beneish-formula-input-block2{
    display: grid;
    grid-template-columns: 80px 10px 80px 60px 80px 10px 80px auto 140px 0px;
    align-items: center;
    font-size: 18px;
    margin: 20px;
    text-align: right;
}

#factor-intersectional-formula-val{
    font-size: 21px;
    padding: 20px 0px 5px 0px;
}

.main-investment-formula .factor-intersectional-formula-input-block1{
    display: grid;
    grid-template-columns: repeat(3, 210px 10px 60px 0px);
    align-items: center;
    font-size: 16px;
    margin: 20px 25px;
    text-align: right;
    gap: 20px 0px;
}

.main-investment-formula .factor-intersectional-formula-input-block1-1{
    display: grid;
    grid-template-columns: auto 140px 0px;
    align-items: center;
    font-size: 18px;
    margin: 20px;
    text-align: right;
}

.main-investment-formula .factor-intersectional-formula-input-block1-0{
    font-size: 16px;
    margin: 30px 0px 0px 15px;
}

fieldset.arg2-input{
    border: 2px groove paleturquoise;
    border-radius: 3px;
    padding: 0 10px 10px 10px;
    margin-top: 15px;
}

legend.sector-industry-block {
    width: inherit;
    padding: 0 7px;
    border-bottom: none;
    font-size: 16px;
}

.main-investment-formula .sector-industry-input-block{
    padding: 5px 0px 0px 0px;
}

.main-investment-formula .selectable-block{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.main-investment-formula .selectable-button{
    padding: 1px 8px;
    font-size: 14px;
    cursor: pointer;
    margin: 3px 5px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 10px;
}

.main-investment-formula .selectable-button.disabled{
    background: whitesmoke;
}

.main-investment-formula .selectable-button.disabled:hover {
    background: #eee;
}

.main-investment-formula .selectable-button.enabled{
    background: #FF8F00;
    color: white;
}

.main-investment-formula .selectable-button.enabled:hover {
    background: #EF6C00;
}

.main-investment-formula .sector-title{
    display: inline-block;
}

.main-investment-formula .industry-title{
    display: inline-block;
}

.math-left-align .mjx-chtml.MJXc-display{
    text-align: left !important;
 }

.main-investment-formula .content-block{
    padding-top: 15px;
}

/* table */
.main-investment-formula table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: 1px solid silver;
    margin-bottom: 15px;
}

.main-investment-formula th {
    padding: 8px;
    color: white;
    border: 1px solid silver;
    background: #535353;
    text-align: center;
    /*word-break: break-all;*/
    font-size: medium;
}

.main-investment-formula td{
    font-size: large;
    border: none;
    padding-right: 10px;
    text-align: right;
}

.main-investment-formula .tr-stock.main{
    line-height: 48px;
}

.main-investment-formula .tr-stock.main.link:hover{
    background-color: rgb(189,252,201);
    cursor: pointer;
}

.main-investment-formula .th-52w{
    width: 165px;
}

.main-investment-formula .group-td{
    padding-right: 0px;
}

.main-investment-formula .th-symbol{
    width: 85px;
}

.main-investment-formula .th-price{
    width: 80px;
}

.main-investment-formula .th-180d{
    width: 150px;
}

.main-investment-formula .th-avg_cost{
    width: 80px;
}

.main-investment-formula .th-profit_now{
    width: 80px;
}

.main-investment-formula .th-position_now{
    width: 80px;
}

.main-investment-formula .th-position_kelly{
    width: 80px;
}

.main-investment-formula .th-target_diff{
    width: 80px;
}

.main-investment-formula .th-52h .th-52l{
    width: 80px;
}

.main-investment-formula .td-symbol, .main-investment-formula .td-type-name{
    padding-right: 0px;
    text-align: center;
    font-weight: 700;
    color: #188fff;
}

.main-investment-formula .data-source{
    font-size: x-large;
}

.main-investment-formula .link{
    padding-right: 30px;
}

.main-investment-formula .hold-stocks-charts-title{
    display: inline-flex;
    font-size: 20px;
    padding: 0px 0 20px 0;
}

.main-investment-formula .hold-stocks-charts-content{
    width: 100%;
}

.main-investment-formula .chart-block-0 {
    margin: 0 0 70px 0;
}

.main-investment-formula .chart-block-1 {
    margin: 0 0 40px 0;
}

.main-investment-formula .chart-block-2 {
    margin: 0 0 5px 0;
}

.main-investment-formula .chart-block-3 {
    margin: 0 0 5px 0;
}

.main-investment-formula .chart-title{
    font-size: 24px;
    padding: 0px 0 15px 0;
    text-align: center;
    font-family: monospace;
}
