.main-investment-formula > div{
    width: 960px;
    margin: 60px auto;
}

.main-investment-formula .demo-img{
    padding: 0;
    border: 2px solid whitesmoke;
    border-radius: 6px;
}

.main-investment-formula h1{
    font-family: 'Microsoft JhengHei';
}

.main-investment-formula .content-block{
    padding-top: 15px;
}

.main-investment-formula .formula-component{
    position: relative;
    margin-top: 50px;
}

fieldset.formula-block {
    border: 2px groove #ddd;
    padding: 0 20px 20px 20px;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.formula-block {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
    font-size: xx-large;
}