.main-MahoMangaDownloader > div{
    width: 960px;
    margin: 60px auto;
}

.main-MahoMangaDownloader ul > li:before {
    content: "\2022";
    margin-right: 10px;
}

.main-MahoMangaDownloader ul > li {
    margin-bottom: 10px;
    margin-left: 20px;
}

.main-MahoMangaDownloader ol {
    list-style-type:decimal;
}

.main-MahoMangaDownloader ol > li {
    margin-bottom: 10px;
    margin-left: 35px;
}

.main-MahoMangaDownloader .description {
    padding: 30px 0;
    border-top: #FF4500 6px double;
    border-bottom: #FF4500 6px double;
}

.main-MahoMangaDownloader .description-function-list li {
    margin-bottom: 10px;
    margin-left: 20px;
}

.main-MahoMangaDownloader .demo-img{
    padding: 0;
}

.main-MahoMangaDownloader .p{
    font-size: 14px;
}

.main-MahoMangaDownloader .manga-show{
    padding: 0;
}

.main-MahoMangaDownloader .download-link{
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    border: #FF4500 5px dashed;
    box-sizing: border-box;
}

.main-MahoMangaDownloader .download-list{
    margin-top: 20px;
}

.main-MahoMangaDownloader .download-link li {
    margin-bottom: 10px;
    margin-left: 250px;
    font-size: 20px;
    text-align: left;
}

.main-MahoMangaDownloader .download-link ul > li:before{
    content: none;
    margin-right: 0;
}


.main-MahoMangaDownloader .download-link li p {
    overflow: visible;
    margin-left: 20px;
    vertical-align: initial;
    display: inline-block;
}


.main-MahoMangaDownloader .detail{
    padding: 0;
}

.main-MahoMangaDownloader .detail h3{
    margin-left: 10px;
}

.main-MahoMangaDownloader .detail > div{
    margin: 30px auto;
}

.main-MahoMangaDownloader .detail .disclaimer h4{
    margin-left: 20px;
}
