p {
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 a {
  color: #c41200;

  /* Some project names are too long :( */
  overflow: hidden;
  display: inline-block;
  width: 200px;
  text-overflow: ellipsis;
}

h3 a i {
  color: #000;
  font-size: 14px;
}

body{
  background: mintcream;
  max-width: 100%;
  overflow-x: hidden;
}

.arrange--18 > .arrange_unit {
  padding-left: 9px;
  padding-right: 30px;
}

.header-nav_link, .header-nav_text {
  color: rgba(255, 255, 255, 0.95);
  display: block;
  padding: 0 8px;
  font-size: 15px;
  line-height: 1.38462em;
  font-weight: bold;
  line-height: 30px;
  text-shadow: 0 -1px 0 #760400;
  cursor:pointer;
}

.top-shelf .container {
  padding: 0;
}

.top-shelf h1 {
  padding-top: 52px;
  color: darkorange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
}

.top-shelf {
  padding-top: 2px;
  padding-bottom: 1px;
}

.top-shelf-grey .container {
  height: 240px;
  width: 960px;
  font-family: 'Comic Sans', 'Comic Sans MS';
}

.bullet-list-round > li{
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Microsoft JhengHei;
  text-shadow: -1px 0 #f0f3f8, 0 1px #f0f3f8, 1px 0 #f0f3f8, 0 -1px #f5f5f1;
  margin-bottom: 10px;
}

.borderless .footer {
  width: 100%;
  position: relative;
  background: #111111;
  border-top: 1px solid #ccccc8;
}

.footer {
  padding: 0;
  clear: both;
  height: 0px;

}

.footer-language, .footer-country {
  display: block;
}

.footer .city-landscape-img {
  display: block;
  margin: 0;
  width: 100%;
  height: 700px;
  background: url(/img/happy_footer.png) no-repeat center bottom;
  position: absolute;
  top: 0;
  left: 0;    
}

.footer .copyright {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 670px;
  left: 50%;
  font-size: 14px;
  color:#DDDDDD;
}

/* Octicon changes */
.octicon.octicon-star { font-size: 14px; }
.octicon.octicon-repo-forked { font-size: 12px; }


.menu-header{
  background-color: #126e7d;
  height: 60px;
}

.menu-header-content{

  width: 960px;
  margin: 0 auto;
  padding: 0 15px;

}

.menu-header_logo{
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url(/img/zmcx16_logo_48x48.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: 6px;
}

.menu-header_logo:hover{
  display: inline-block;
  background-size: cover;
  background-position-y: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu-header_drop-down-menu { 
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 18px;
  position: absolute;
  top: 20px;
  margin-left: 20px;
  z-index: 10;
  cursor:pointer;
}

ul.menu-header_drop-down-menu li {
  position: relative;
  white-space: nowrap;
  min-width: 140px;
}

ul.menu-header_drop-down-menu > li {
  float: left; /* 只有第一層是靠左對齊*/
}

ul.menu-header_drop-down-menu a {
  background-color: #126e7d;
  color: rgb(255, 255, 255);
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 37px;
}
ul.menu-header_drop-down-menu a:hover { 
  border-width:3px; 
  border-bottom-style:solid;
  border-color: rgb(255, 128, 0);
}

ul.menu-header_drop-down-menu li:hover > a { 
  border-width:3px; 
  border-bottom-style:solid;
  border-color: rgb(255, 128, 0);
}

ul.menu-header_drop-down-menu_level2 li:hover > a { 
  border-width:0px; 
  color: rgb(255, 215, 0);
}

ul.menu-header_drop-down-menu ul {
  display: none;
}

ul.menu-header_drop-down-menu li:hover > ul {
  display: block;
}

/* Live2D */
#landlord {
  right: -50px;
}

.message{
  width: 200px;
  left: -5px;
  top: -60px;
  border: 1px solid rgba(180,180,180,.4);
  background-color: rgba(255,248,220, 0.877);
  box-shadow: 0 3px 15px 2px rgba(255,248,220,.4);
}