
.tab-page ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.tab-page ul.tabs {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
.tab-page ul.tabs li {
    float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
    border: 1px solid #999;
    border-left: none;
    background: #e1e1e1;
}
.tab-page ul.tabs li a {
    display: block;
    padding: 0 20px;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
}
.tab-page ul.tabs li a:hover {
    background: #ccc;
}
.tab-page ul.tabs li.active  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab-page ul.tabs li.active a:hover {
    background: #fff;
}
.tab-page div.tab_container {
    clear: left;
    width: 100%;
    border: 1px solid #999;
    border-top: none;
    background: #fff;
}
.tab-page div.tab_container .tab_content {
    padding: 20px;
}
.tab-page div.tab_container .tab_content h2 {
    margin: 0 0 20px;
}

.main-misc > div{
    width: 960px;
    margin: 60px auto;
}

.main-misc .title{
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-top: 150px;
}

.main-misc .title-img{
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-top: 150px;
}

.main-misc .switch-imgs-show{
    height: 499px;
    overflow: hidden;
}

.main-misc .img-arrow-wrap{
    position: absolute;
    width: 960px;
    height: inherit;
}

.main-misc .img-arrow-wrap-2{
    position: relative;
    top: 50%;
}

.main-misc .switch-imgs-show:hover .img-arrow-prev, .main-misc .switch-imgs-show:hover  .img-arrow-next{ 
    opacity: 0.5;
}

.main-misc .img-arrow-prev, .main-misc .img-arrow-next{
    z-index: 10;
    position: sticky;
    opacity: 0;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.main-misc .img-arrow-prev{
    float:left;
}


.main-misc .img-arrow-next{
    float:right;
}

.main-misc .img-s{
    position: absolute;
}



/* customize */
.main-misc .img-arrow-wrap-size2{
    width: 920px;
}


.main-misc .img-wrap{
    position: relative;
}

/* misc-demo */
.main-misc .img-misc{
    cursor: pointer;
}

.main-misc #img-prev-0:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc #img-next-0:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

/* map-editor */
.main-misc #img-prev-map-editor:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc #img-next-map-editor:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc .image-show-map-editor{
    height: 715px;
    overflow: hidden;
}

/* table-game */
.main-misc #img-prev-table-game:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc #img-next-table-game:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc .image-show-table-game{
    height: 715px;
    overflow: hidden;
}

/* sr-song */
.main-misc #img-prev-sr-song:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc #img-next-sr-song:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc .image-show-sr-song{
    height: 715px;
    overflow: hidden;
}

