.main-misc > div{
    width: 960px;
    margin: 60px auto;
}

.main-misc .misc-show{
    height: 499px;
    overflow: hidden;
}

.main-misc .img-arrow-wrap{
    position: absolute;
    width: inherit;
    height: inherit;
}

.main-misc .img-arrow-wrap-2{
    position: relative;
    top: 50%;
}

.main-misc .misc-show:hover .img-arrow{ 
    opacity: 0.5;
}

.main-misc .img-arrow{
    z-index: 10;
    position: sticky;
    opacity: 0;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.main-misc #img-prev{
    float:left;
}

.main-misc #img-prev:hover{ 
    opacity: 0.9;
    cursor: pointer;
}

.main-misc #img-next{
    float:right;
}

.main-misc #img-next:hover{ 
    opacity: 0.9;
    cursor: pointer;
}


.main-misc .img-misc{
    position: relative;
}