name: BuildPluginPage

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 10 * * 1,2,3,4,5'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: 14.15.1
        architecture: x64
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: actions/cache@v2
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install -r ./.github/script/requirements.txt
    - name: build js plugin pages
      run: |-
        python ./.github/script/build_plugin.py
    - name: install react plugin pages dependency
      run: |-
        npm --prefix ./.github/plugin-react/ install
    - name: build react plugin pages
      run: |-
        npm --prefix ./.github/plugin-react/ run build
    - name: remove node_modules
      run: |-
        rm -rf ./.github/plugin-react/node_modules
    - name: download option-pcr data
      run: |-
        curl https://raw.githubusercontent.com/zmcx16/Norn-StockScreener/gh-pages/norn-data/options/pcr/stat.json --output ./plugin-react/option-pcr.json
    - name: build template config
      run: |-
        python ./.github/script/build_config_from_template.py
    - name: get monitor data
      env:
        MONITOR_TOKEN_KEY: ${{ secrets.MONITOR_TOKEN_KEY }}
      run: |-
        python ./.github/script/build_monitor-data.py
    - name: get market data
      env:
        MARKET_TOKEN_KEY: ${{ secrets.MARKET_TOKEN_KEY }}
      run: |-
        python ./.github/script/build_market-data.py
    - name: build correlation matrix
      run: |-
        python ./.github/script/build_correlation-matrix.py
    - name: Checkout Norn-Finance-API-Server
      uses: actions/checkout@v2
      with: 
        repository: zmcx16/Norn-Finance-API-Server
        path: ./.github/script/Norn-Finance-API-Server
        fetch-depth: 0
    - name: get options data
      env:
        CONFIG_URL: ${{ secrets.CONFIG_URL }}
        ENCRY_PASS: ${{ secrets.ENCRY_PASS }}
      run: |-
        python -m pip install -r ./.github/script/Norn-Finance-API-Server/requirements.txt
        python ./.github/script/build_option_valuation.py -l ERROR -m 90 -d yahoo -c > /dev/null 2>&1
    - name: Commit and push if page changed
      run: |-
        git config --global user.email "zmcx16-bot@zmcx16.moe"
        git config --global user.name "zmcx16-bot"
        git config --global pull.ff only
        git pull
        git diff
        git diff --quiet || (git add *.js && git add *.json && git add ./plugin-react/\* && git commit -m "Updated plugin pages & monitor data")
        git push
