name: BuildPluginPage

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 11 * * 1,2,3,4,5'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: 14.15.1
        architecture: x64
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.12
    - uses: actions/cache@v4
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install -r ./.github/script/requirements.txt
    - name: build js plugin pages
      run: |-
        python ./.github/script/build_plugin.py
    - name: install react plugin pages dependency
      run: |-
        npm --prefix ./.github/plugin-react/ install
    - name: build react plugin pages
      run: |-
        npm --prefix ./.github/plugin-react/ run build
    - name: remove node_modules
      run: |-
        rm -rf ./.github/plugin-react/node_modules
    - name: download option-pcr data
      run: |-
        curl https://raw.githubusercontent.com/zmcx16/Norn-StockScreener/gh-pages/norn-data/options/pcr/stat.json --output ./plugin-react/option-pcr.json
    - name: build template config
      run: |-
        python ./.github/script/build_config_from_template.py
    - name: get AI analysis data
      env:
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      run: |-
        python ./.github/script/build_ai_analysis.py
    - name: Commit and push if page changed
      run: |-
        git config --global user.email "zmcx16-bot@zmcx16.moe"
        git config --global user.name "zmcx16-bot"
        git config --global pull.ff only
        git pull
        git add *.js && git add *.json && git add ./plugin-react/* && git commit -m "Updated plugin pages & monitor data & AI analysis data"
        git push
